LANG=C.UTF-8
LC_ALL=C.UTF-8
PROJECT_NAME=backend
SECRET_KEY=SECRET
POSTGRES_DB=oswal
POSTGRES_USER=oswal
POSTGRES_PASSWORD=test
POSTGRES_HOST=postgres
AWS_STORAGE_BUCKET_NAME=aws_bucket
AWS_ACCESS_KEY_ID=aws_key_id
AWS_SECRET_ACCESS_KEY=aws_key
AWS_S3_REGION_NAME=s3name
WOO_CONSUMER_SECRET=consumer_secret
WOO_CONSUMER_KEY=consumer_key
SIIGO_USERNAME=userame
SIIGO_ACCESS_KEY=access_key
