LANG=C.UTF-8
LC_ALL=C.UTF-8
SECRET_KEY=SECRET
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
AWS_STORAGE_BUCKET_NAME=aws_bucket
AWS_ACCESS_KEY_ID=aws_key_id
AWS_SECRET_ACCESS_KEY=aws_key
AWS_S3_REGION_NAME=s3name
